<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>Register</title>

        <!-- bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- owl css -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- style css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/styleAdminRest.css">
        <!-- responsive-->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- awesome fontfamily -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<!-- body -->
<body class="main-layout Recipes_page">
<div class="wrapper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
                <li><a th:href="@{/adminrest/perfil}">Perfil</a></li>
                <li><a th:href="@{/adminrest/menu}">Menu</a></li>
                <li><a th:href="@{/adminrest/cupones}">Cupones</a></li>
                <li><a th:href="@{/adminrest/pedidos}">Pedidos</a></li>
                <li><a th:href="@{/adminrest/calificaciones}">Calificaciones</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <!-- header -->
        <header>
            <div th:replace="fragments/adminRestaurante.html :: navbar"></div>
        </header>

        <div class="bg_bg">

            <!-- end about -->
            <!-- footer -->
            <fooetr>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Elige tus categorías</h2>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <form method="post" th:action="@{/adminrest/guardarcategoriaedit}" th:object="${restaurante}" class="main_form">
                                    <input type="hidden" id="cantidad" value="4">
                                    <input type="hidden" th:field="*{idrestaurante}" th:value="${id}">
                                    <div style="color: white;font-size: 20px">Seleccionados: <span style="color: white;font-size: 20px" id="seleccionados" th:text="${numero}">0</span></div>
                                    <br>
                                    <div style="color: white;" th:each="lista:${listacategorias}" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="input-group">
                                            <input type="checkbox" th:field="*{categoriasrestList}" th:value="${lista.getIdcategorias()}">
                                             <div style="margin-left: 20px; transform: translateY(-5px)" th:text="${lista.getNombrecategoria()}"></div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button class="send" type="submit" >Registrar</button>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="send" th:href="@{/adminrest/cuentaAdmin}" style="text-align: center">Regresar</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box" align="center">
                                    <figure><img th:src="@{'/adminrest/imagen'+'?id='+${id}}" style="width:500px;height:500px"></figure>
                                </div>
                                <div style="text-align: center;font-size: 30px;color: black">Imagen del restaurante</div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <p>© 2021 Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </fooetr>
            <!-- end footer -->

        </div>
    </div>

    <div class="overlay"></div>
    <!-- Javascript files-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <style>
        #owl-demo .item{
            margin: 3px;
        }
        #owl-demo .item img{
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>
</div>
</body>
<script>
    $(document).ready(function(){

        // Evento que se ejecuta al soltar una tecla en el input
        $("#cantidad").keydown(function(){
            $("input[type=checkbox]").prop('checked', false);
            $("#seleccionados").html("0");
        });

        // Evento que se ejecuta al pulsar en un checkbox
        $("input[type=checkbox]").change(function(){

            // Cogemos el elemento actual
            var elemento=this;
            var contador=0;
            var lista=[];
            // Recorremos todos los checkbox para contar los que estan seleccionados
            $("input[type=checkbox]").each(function(){
                if($(this).is(":checked"))
                    contador++;
            });

            var cantidadMaxima=parseInt($("#cantidad").val()) || 0;

            // Comprovamos si supera la cantidad máxima indicada
            if(contador>cantidadMaxima)
            {
                alert("Has seleccionado mas checkbox que los indicados");

                // Desmarcamos el ultimo elemento
                $(elemento).prop('checked', false);
                contador--;
            }

            $("#seleccionados").html(contador);

        });
    });
</script>
</html>