<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminRestaurante.html :: header( title = 'Cuenta')"></head>
<style>
  label{
    color: white;
  }
</style>

<!-- body -->
<body class="main-layout Recipes_page">
<div class="wrapper">
  <div class="sidebar">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div id="dismiss">
        <i class="fa fa-arrow-left"></i>
      </div>
      <ul class="list-unstyled components">
        <li><a th:href="@{/adminrest/perfil}">Perfil</a></li>
        <li><a th:href="@{/adminrest/menu}">Menu</a></li>
        <li><a th:href="@{/adminrest/cupones}">Cupones</a></li>
        <li><a th:href="@{/adminrest/pedidos}">Pedidos</a></li>
        <li><a th:href="@{/adminrest/calificaciones}">Calificaciones</a></li>
      </ul>
    </nav>
  </div>
  <div id="content">
    <!-- header -->
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="full">
              <a class="logo" href="index.html"><img src="/images/logo.png" alt="#" /></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="full">
              <div class="right_header_info">
                <ul>
                  <li class="button_user">
                    <a class="button active" th:href="@{/adminrest/cuentaAdmin}">Mi cuenta</a>
                  </li>

                  <li style="transform: translateY(-7px)">
                    <form th:action="@{/logout}" method="post">
                      <button class="button" style="padding: 0px 15px; font-size: 14px;height: 40px;width: 100.5px;background:#e3d105" type="submit">Logout</button>
                    </form>
                  </li>
                  <li>
                    <button type="button" id="sidebarCollapse">
                      <img src="/images/menu_icon.png" alt="#">
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <div class="yellow_bg" style="background: #d8b00f">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>Mi Perfil</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about -->
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <form method="post" th:action="@{'/adminrest/guardaradminedit'}" th:object="${usuario}">
                  <div class="about_box" style="padding: 64px 40px">
                    <div>
                      <input th:field="*{idusuarios}" th:value="*{idusuarios}" type="hidden">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Correo</label>
                        <input class="form-control" type="text" th:value="${datos.email}" disabled>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Nombres</label>
                        <input class="form-control"type="text" th:value="${datos.nombre}" disabled>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Apellidos</label>
                        <input class="form-control"type="text" th:value="${datos.apellidos}" disabled>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>DNI</label>
                        <input class="form-control" type="text" th:value="${datos.dni}"  disabled>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Número de celular</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                        <input class="form-control" type="number" th:field="*{telefono}">
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Fecha de nacimiento</label>
                        <input class="form-control" type="date" th:value="${datos.fechanacimiento}" disabled>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Dirección</label>
                        <div class="form-floating">
                          <table class="table table-light table-hover">
                            <tbody>
                            <tr th:each="d: ${listadirecciones}">
                              <td th:text = "${d.direccion}"></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Contraseña</label>
                        <div th:if="${msg != null}" th:text="${msg}" class="text-danger"></div>
                        <div class="text-danger" th:if="${#fields.hasErrors('contraseniaHash')}" th:errors="*{contraseniaHash}"></div>
                        <input placeholder="Contraseña" class="form-control" type="password" th:field="*{contraseniaHash}">
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <label>Confirmar contraseña</label>
                        <input placeholder="Confirmar contraseña" class="form-control" type="password" id="pass2" name="pass2">
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div style="padding-left: 15px;padding-top: 25px">
                            <button class="send" type="submit"
                                    style="font-size: 16px;background: #d8b00f;width: 200px">Guardar cambios</button>
                          </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                          <div style="padding-left: 15px;padding-top: 25px">
                            <button class="send" th:href="@{/adminrest/perfil}"
                                    style="font-size: 16px;background: #d8b00f;width: 200px">Regresar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 about_img_boxpdnt">
                <figure><img th:src="@{/images/perfil-hombre-dibujos-animados_18591-58484 (1).jpg}" alt="#/"></figure>
                <form method="post" th:action="@{'/adminrest/guardarrestedit'}" th:object="${restaurante}">
                  <input type="hidden" th:field="*{usuario.idusuarios}">
                  <div class="about_box" style="height: 740px">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <label>Nombre del restaurante</label>
                      <input class="form-control" th:value="${nombrerest}" type="text" disabled>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <label>RUC del restaurante</label>
                      <input class="form-control" th:value="${ruc}" type="text" disabled>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <label>Direccion del restaurante</label>
                      <div class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                      <input class="form-control" th:field="*{direccion}" th:value="*{direccion}" type="text">
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <label>Distrito</label>
                      <select type="text" class="form-select" th:field="*{distrito.iddistritos}"style="width: 100%;height: 50px;border: #fff solid 2px;box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);">
                        <option th:each="lista : ${listadistritos}"
                                th:text="${lista.nombredistrito}"
                                th:value="${lista.iddistritos}"
                                th:selected="${lista.nombredistrito==restaurante.distrito.nombredistrito}"></option>
                      </select>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding-top: 25px">
                      <label>Imagen</label>
                      <input class="form-control" type="file" id="imagen" name="imagen" >
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div style="padding-left: 15px;padding-top: 25px">
                          <button class="send" type="submit"
                                  style="font-size: 16px;background: #d8b00f;width: 200px">Guardar cambios</button>
                        </div>
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                        <div style="padding-left: 15px;padding-top: 25px">
                          <button class="send" th:href="@{/adminrest/editar}"
                                  style="font-size: 16px;background: #d8b00f;width: 200px">Categorias</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end about -->


    <!-- footer -->
    <fooetr>
      <div class="footer">

        <div class="copyright">
          <div class="container">
            <p>© 2021 Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </fooetr>
    <!-- end footer -->

  </div>
</div>
<div class="overlay"></div>
<!-- Javascript files-->
<script th:href="@{/js/jquery.min.js}"></script>
<script th:href="@{/js/popper.min.js}"></script>
<script th:href="@{/js/bootstrap.bundle.min.js}"></script>
<script th:href="@{/js/owl.carousel.min.js}"></script>
<script th:href="@{/js/custom.js}"></script>
<script th:href="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

<script th:href="@{/js/jquery-3.0.0.min.js}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#sidebar").mCustomScrollbar({
      theme: "minimal"
    });

    $('#dismiss, .overlay').on('click', function() {
      $('#sidebar').removeClass('active');
      $('.overlay').removeClass('active');
    });

    $('#sidebarCollapse').on('click', function() {
      $('#sidebar').addClass('active');
      $('.overlay').addClass('active');
      $('.collapse.in').toggleClass('in');
      $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
  });
</script>

</body>

</html>