<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminRestaurante.html :: header( title = 'Crear cupon')"></head>

<!-- body -->
<body class="main-layout Recipes_page">
<div class="wrapper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
                <li><a th:href="@{/adminrest/perfil}">Perfil</a></li>
                <li><a th:href="@{/adminrest/menu}">Menu</a></li>
                <li><a th:href="@{/adminrest/cupones}">Cupones</a></li>
                <li><a th:href="@{/adminrest/pedidos}">Pedidos</a></li>
                <li><a th:href="@{/adminrest/calificaciones}">Calificaciones</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <!-- header -->
        <header>
            <div th:replace="fragments/adminRestaurante.html :: navbar"></div>
        </header>
        <!-- end header -->

        <div class="bg_bg">

            <!-- end about -->
            <!-- footer -->
            <fooetr>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Ingresa los siguientes datos</h2>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <form method="post" th:action="@{'/adminrest/guardarCupon'}" class="main_form" th:object="${cupon}">
                                    <input th:field="*{idcupones}" type="hidden"/>
                                    <input th:field="*{restaurante}" type="hidden"/>
                                    <input name="index" id="index" th:value="${index}" type="hidden"/>
                                    <select name="precios" id="precios" style="display: none">
                                        <option th:each="precio:${listaPlatos}" th:value="${precio.precio}"></option>
                                    </select>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12" for="nombre">Nombre del cupon</label>
                                            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                            <input class="form-control" th:field="*{nombre}" placeholder="Nombre del cupon" type="text" name="nombre" id="nombre">

                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12" for="descripcion">Descripcion</label>
                                            <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                                            <input class="form-control" th:field="*{descripcion}" placeholder="Descripcion" type="text" name="descripcion" id="descripcion">

                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12" for="valordescuento">Valor de descuento (S/.)</label>
                                            <div class="text-danger" th:if="${#fields.hasErrors('valordescuento')}" th:errors="*{valordescuento}"></div>
                                            <div th:if="${msg3 != null}" th:text="${msg3}" class="text-danger">
                                            </div>
                                            <input class="form-control" th:field="*{valordescuento}" placeholder="Descuento (S/.)" type="text" name="valordescuento" id="valordescuento">

                                        </div>
                                        <form class="main_form">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12" for="fechainicio">Fecha de inicio</label>
                                                <div class="text-danger" th:if="${#fields.hasErrors('fechainicio')}" th:errors="*{fechainicio}"></div>
                                                <div th:if="${msg4 != null}" th:text="${msg4}" class="text-danger"></div>
                                                <input class="form-control" type="date" th:field="${cupon.fechainicio}">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12" for="fechafin">Fecha de fin</label>
                                                <div class="text-danger" th:if="${#fields.hasErrors('fechafin')}" th:errors="*{fechafin}"></div>
                                                <input class="form-control" type="date" th:field="${cupon.fechafin}">
                                            </div>
                                        </form>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" th:if="${cupon.idcupones}">
                                            <label for="plato">Plato asociado</label><br>
                                            <select class="form-select" style="margin-bottom:20px;width: 100%;height: 50px;border: #fff solid 2px;box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);" th:field="*{plato}">
                                                <option th:each="plato: ${listaPlatos}" th:value="${plato.idplato}" th:text="${plato.nombre}"></option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" th:unless="${cupon.idcupones}">
                                            <label for="plato">Plato asociado</label><br>
                                            <select id="platonombre" class="form-select" style="margin-bottom:20px;width: 100%;height: 50px;border: #fff solid 2px;box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);" th:field="*{plato}">
                                                <option th:each="plato: ${listaPlatos}" th:value="${plato.idplato}" th:text="${plato.nombre}"
                                                        th:selected="${plato.idplato == cupon.plato}"></option>
                                            </select>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label for="precioplato">Precio del plato (S/.)</label>
                                            <input class="form-control" name="precioplato" id="precioplato" type="text" disabled>
                                        </div>
                                        </br>
                                        </br>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button class="send" type="submit">Registrar</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <a class="send" th:href="@{/adminrest/cupones}" style="text-align: center">Regresar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box" align="center">
                                    <figure><img src="/images/cupon.jpg" style="width:475px;height:800px"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <p>© 2021 Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </fooetr>
            <!-- end footer -->

        </div>
    </div>

    <div class="overlay"></div>
    <!-- Javascript files-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <style>
        #owl-demo .item{
            margin: 3px;
        }
        #owl-demo .item img{
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>
    <script>
        var index=document.getElementById("index").value;
        document.getElementById("precioplato").value=document.getElementById("precios").options[index].value;
        $("#platonombre").change(function(){
            var index=document.getElementById("platonombre").selectedIndex;
            document.getElementById("index").value=index;
            document.getElementById("precioplato").value=document.getElementById("precios").options[index].value;
        });
    </script>
</div>
</body>

</html>