<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminRestaurante.html :: header( title = 'Crear plato')"></head>

<!-- body -->
<body class="main-layout Recipes_page">
<div class="wrapper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
                <li><a th:href="@{/adminrest/perfil}">Perfil</a></li>
                <li><a th:href="@{/adminrest/menu}">Menu</a></li>
                <li><a th:href="@{/adminrest/cupones}">Cupones</a></li>
                <li><a th:href="@{/adminrest/pedidos}">Pedidos</a></li>
                <li><a th:href="@{/adminrest/calificaciones}">Calificaciones</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <!-- header -->
        <header>
            <div th:replace="fragments/adminRestaurante.html :: navbar"></div>
        </header>
        <!-- end header -->

        <div class="bg_bg">

            <!-- end about -->
            <!-- footer -->
            <fooetr>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Ingresa los siguientes datos</h2>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                                <form method="post" th:action="@{/adminrest/guardarPlato}" th:object="${plato}" class="main_form" enctype="multipart/form-data">
                                    <input type="hidden" name="idplato" id="idplato" th:value="*{idplato}">
                                    <input type="hidden" name="activo" id="activo" th:value="1">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label for="nombre">Nombre del plato</label>
                                            <input th:field="*{nombre}" class="form-control" placeholder="Nombre del plato" type="text" name="nombre" id="nombre">
                                            <div class="text-danger" style="margin-top: -20px" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label for="descripcion">Descripcion del plato</label>
                                            <textarea th:field="*{descripcion}" class="form-control" placeholder="Descripcion del plato" type="text" name="descripcion" id="descripcion"></textarea>
                                            <div class="text-danger" style="margin-top: -20px" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <label for="precio">Precio del plato</label>
                                            <input th:field="*{precio}" class="form-control" placeholder="Precio" type="text" name="precio" id="precio">
                                            <div class="text-danger" style="margin-top: -20px" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" th:if="${plato.idplato}">
                                            <label for="disponibilidad">Stock</label>
                                            <select class="form-select" style="margin-bottom:20px;width: 100%;height: 50px;border: #fff solid 2px;box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);" th:field="*{disponibilidad}">
                                                <option value="1">Disponible</option>
                                                <option value="0">Agotado</option>
                                            </select>
                                            <div style="padding-top: 10px" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div style="position: relative"><input class="form-control-file" type="file" id="imagen" name="imagen" style="opacity: 0%;position: absolute">Editar Imagen</div>
                                            </div>
                                            <input type="hidden" name="restaurante" th:field="*{restaurante}">
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" th:unless="${plato.idplato}">
                                            <input type="hidden" name="disponibilidad" id="disponibilidad" th:value="1">
                                            <input type="hidden" name="restaurante" id="restaurante" th:value="${iddelrestaurante}">
                                            <label>Imagen</label>
                                            <div th:if="${msgFotoInvalida != null}" th:text="${msgFotoInvalida}" class="text-danger"></div>
                                            <div style="padding-top: 10px" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div style="position: relative"><input class="form-control-file" type="file" id="imagen" name="imagen" style="opacity: 0%;position: absolute">Adjuntar Imagen</div>
                                            </div>
                                        </div>
                                        </br>
                                        </br>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button class="send" type="submit">Registrar</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="send" th:href="@{/adminrest/menu}" style="text-align: center">Regresar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" th:object="${plato}">
                                <div class="img-box" align="center" th:unless="${plato.idplato}">
                                    <figure><img src="/images/bembos.png" style="width:500px;height:500px"></figure>
                                </div>
                                <div class="img-box" align="center" th:if="${plato.idplato}">
                                    <figure><img th:src="@{'/adminrest/imagenplato' + '?idplato=' + ${plato.idplato}}" style="width:500px;height:500px"></figure>
                                </div>
                                <div style="text-align: center;font-size: 30px;color: black">Imagen referencial</div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <p>© 2021 Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </fooetr>
            <!-- end footer -->

        </div>
    </div>

    <div class="overlay"></div>
    <!-- Javascript files-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <style>
        #owl-demo .item{
            margin: 3px;
        }
        #owl-demo .item img{
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>
</div>
</body>

</html>