<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminRestaurante.html :: header( title = 'Pedidos')"></head>

<!-- body -->
<body class="main-layout Recipes_page">
<div class="wrapper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
                <li><a th:href="@{/adminrest/perfil}">Perfil</a></li>
                <li><a th:href="@{/adminrest/menu}">Menu</a></li>
                <li><a th:href="@{/adminrest/cupones}">Cupones</a></li>
                <li><a th:href="@{/adminrest/pedidos}">Pedidos</a></li>
                <li><a th:href="@{/adminrest/calificaciones}">Calificaciones</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <!-- header -->
        <header>
            <div th:replace="fragments/adminRestaurante.html :: navbar"></div>
        </header>
        <!-- end header -->
        <!-- blog -->
        <div class="blog">
            <div class="container">
                <h1>Pedidos</h1>
                <div class="row table-users">
                    <!-- table -->
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead >
                                <tr>
                                    <th scope="col">PEDIDO</th>
                                    <th scope="col" width="200px" align="center">CLIENTE</th>
                                    <th scope="col" width="200px" align="center">DIRECCION</th>
                                    <th scope="col" width="200px" align="center">DISTRITO</th>
                                    <th scope="col" width="100px" align="center">MONTO</th>
                                    <th scope="col" width="200px" align="center">FECHA PEDIDO</th>
                                    <th scope="col" width="200px" align="center">HORA PEDIDO</th>
                                    <th ></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pedidos:${listaPedidos}">
                                    <td><a th:href="@{'/adminrest/detallepedidos'+'?id='+${pedidos.getidpedidos()}}" th:text="${pedidos.getidpedidos()}"></a></td>
                                    <td th:text="${pedidos.getcliente()}"></td>
                                    <td th:text="${pedidos.getdireccion()}"></td>
                                    <td th:text="${pedidos.getnombredistrito()}"></td>
                                    <td align="center" th:text="${pedidos.getmontototal()}"></td>
                                    <td th:text="${#dates.format(pedidos.getfechahorapedido(), 'dd-MM-yyyy')}"></td>
                                    <td th:text="${#dates.format(pedidos.getfechahorapedido(), 'HH:MM')}"></td>
                                    <td style="width: 120px"><a class="send" th:href="@{'/adminrest/aceptarpedido'+'?id='+${pedidos.getidpedidos()}}" style="text-align: center;background: #d8b00f;width: 100px">Aceptar</a></td>
                                    <td style="width: 120px"><button class="send" th:href="@{'/adminrest/rechazarpedido'+'?id='+${pedidos.getidpedidos()}}" style="text-align: center;background: #d8b00f;width: 100px">Rechazar</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end of table -->
                    <div class="col-md-12">
                    <div class="row">
                        <nav aria-label="Page navigation example" class = "mx-auto">
                            <ul class="pagination justify-content-center">

                                <!--  BOTON ANTERIOR -->
                                <li class="page-item disabled" th:if="${currentPage eq 1 }">
                                    <span class="page-link">Anterior</span>
                                </li>
                                <li class="page-item" th:unless="${currentPage eq 1}">
                                    <a class="page-link"
                                       th:href="@{/adminrest/pedidos(page=${currentPage - 1})}">Anterior</a>
                                </li>

                                <!-- BOTONES NUMEROS -->
                                <li th:each="i : ${#numbers.sequence( 1, maxNumberOfPages )}"
                                    th:class="${ i == currentPage ? 'page-item active .bg-secondary' : 'page-item' }">
                                    <a class="page-link"  th:href="@{/adminrest/pedidos(page=${i})}"
                                       th:text="${i}"
                                    ></a>
                                </li>

                                <!--  BOTON SIGUIENTE -->
                                <li class="page-item disabled" th:if="${currentPage eq maxNumberOfPages }">
                                    <span class="page-link">Anterior</span>
                                </li>
                                <li class="page-item" th:unless="${currentPage eq maxNumberOfPages}">
                                    <a class="page-link" th:href="@{/adminrest/pedidos(page=${currentPage + 1})}">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                    <a class="send" th:href="@{/adminrest/perfil}" style="background: #d8b00f;text-align: center">Regresar</a>
                    </div>
                    <div class="col-md-4">
                        <a class="send" th:href="@{/adminrest/preparacion}" style="background: #d8b00f;text-align: center">En preparacion</a>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <!-- end blog -->

    <!-- footer -->
    <fooetr>
        <div class="footer">

            <div class="copyright">
                <div class="container">
                    <p>© 2021 Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </fooetr>
    <!-- end footer -->

</div>
</div>
<div class="overlay"></div>
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function() {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>

<style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
</style>


<script>
    $(document).ready(function() {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 5
                }
            }
        })
    })
</script>

</body>

</html>