<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminRestaurante.html :: header( title = 'Pedidos')"></head>

<!-- body -->
<body class="main-layout Recipes_page">
<div class="wrapper">
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
                <li><a th:href="@{/adminrest/perfil}">Perfil</a></li>
                <li><a th:href="@{/adminrest/menu}">Menu</a></li>
                <li><a th:href="@{/adminrest/cupones}">Cupones</a></li>
                <li><a th:href="@{/adminrest/pedidos}">Pedidos</a></li>
                <li><a th:href="@{/adminrest/calificaciones}">Calificaciones</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <!-- header -->
        <header>
            <div th:replace="fragments/adminRestaurante.html :: navbar"></div>
        </header>
        <!-- end header -->
        <!-- blog -->
        <div class="blog">
            <div class="container">
                <h1>Aceptados</h1>
                <div class="row table-users">
                    <!-- table -->
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead >
                                <tr>
                                    <th scope="col">PEDIDO</th>
                                    <th scope="col" width="200px" align="center">CLIENTE</th>
                                    <th scope="col" width="200px" align="center">DIRECCION</th>
                                    <th scope="col" width="200px" align="center">DISTRITO</th>
                                    <th scope="col" width="200px" align="center">MONTO TOTAL</th>
                                    <th scope="col" width="200px" align="center">FECHA PEDIDO</th>
                                    <th scope="col" width="200px" align="center">HORA PEDIDO</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="aceptado:${listaAceptado}">
                                    <td><a th:href="@{'/adminrest/detallepedidos'+'?id='+${aceptado.getidpedidos()}}" th:text="${aceptado.getidpedidos()}"></a></td>
                                    <td th:text="${aceptado.getcliente()}"></td>
                                    <td th:text="${aceptado.getdireccion()}"></td>
                                    <td th:text="${aceptado.getnombredistrito()}"></td>
                                    <td th:text="${aceptado.getmontototal()}"></td>
                                    <td th:text="${#dates.format(aceptado.getfechahorapedido(), 'dd-MM-yyyy')}"></td>
                                    <td th:text="${#dates.format(aceptado.getfechahorapedido(), 'HH:MM')}"></td>
                                    <td><a class="send" th:href="@{'/adminrest/preparadopedido'+'?id='+${aceptado.getidpedidos()}}" style="text-align: center;background: #d8b00f;width: 150px">Preparado</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end of table -->
                </div>
                <a class="send" th:if="${valid}" th:href="@{/adminrest/perfil}" style="background: #d8b00f;text-align: center">Regresar</a>
                <a class="send" th:unless="${valid}" th:href="@{/adminrest/pedidos}" style="background: #d8b00f;text-align: center">Regresar</a>
            </div>
        </div>
    </div>
    <!-- end blog -->

    <!-- footer -->
    <fooetr>
        <div class="footer">
            <div class="container-fluid">
                <div class="copyright">
                    <div class="container">
                        <p>© 2050 All Rights Reserved</p>
                    </div>
                </div>
            </div>

        </div>
    </fooetr>
    <!-- end footer -->

</div>
</div>
<div class="overlay"></div>
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function() {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function() {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>

<style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
</style>


<script>
    $(document).ready(function() {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 5
                }
            }
        })
    })
</script>

</body>

</html>