<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/cliente.html :: header"></head>
<!-- body -->

<body class="main-layout">
<!-- loader  -->
<!--div class="loader_bg">
    <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>
</div-->

<div class="wrapper">
  <!-- end loader -->

  <div class="sidebar">
    <!-- Sidebar  -->
    <nav id="sidebar">

      <div id="dismiss">
        <i class="fa fa-arrow-left"></i>
      </div>

      <ul class="list-unstyled components">

        <li class="active">
          <a th:href="@{cliente/paginaprincipal}">Home</a>
        </li>
        <li>
          <a th:href="@{cliente/realizarpedido}">Realizar pedido</a>
        </li>
        <li>
          <a th:href="@{/cliente/reportes}">Mis reportes</a>
        </li>

      </ul>

    </nav>
  </div>
</div>

      <div>
        <div>
          <ul class="list-unstyled components">
            <li class="active">
              <a><h4>Entregar en: Avenida Peru 3081</h4></a>
            </li>
          </ul>
        </div>
        <div>

          <table>
            <tbody>
            <tr>
              <td>January</td>
              <td>$100</td>
            </tr>
            <tr>
              <td>February</td>
              <td>$80</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </nav>
  </div>
  <div id="content">
    <!-- header -->
    <header th:replace="fragments/cliente.html :: bar"></header>

    <div class="yellow_bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <!--el input de buscar plato jutno a la dirección de entrega -->
              <div class="row g-2">
                <form class="input-group" method="post" th:action="@{/cliente/filtrarnombre}"><!-- COMPLETAR -->
                  <input type="hidden" th:value="${iddireccionxenviar}" name="direccion">
                  <div class="col-md">
                    <div class="form-floating">
                      <!--input type="email" class="form-control" id="floatingInputGrid" placeholder="Buscar plato o restaurante" -->
                      <input name="searchField" class="form-control" id="floatingInputGrid" type="text" placeholder="Buscar plato o restaurante"
                            th:value="${nombrebuscado}"/>
                      <label for="floatingInputGrid">Buscar plato o restaurante</label>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelectGrid1" aria-label="Floating label select example" onchange="window.location=this.options[this.selectedIndex].value">
                        <option th:each="direccion : ${listadirecciones}"
                                th:text="${direccion.getDireccion()}"
                                th:selected="${direccion.direccion == direccionseleccionada}"
                                th:value="'direccionxenviar?direccionxenviar=' + ${direccion.getIddirecciones()}">Dirección 1</option>
                      </select>
                      <label for="floatingSelectGrid1">¿A dónde vas  a enviar tu pedido?</label>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- blog -->
    <div class="blog" style="padding-top: 20px;">
      <div class="container">
        <!-- lista platos buscado -->

        <div class="row" th:if="${listaplatosbuscado.size()!=0}">

          <h3 style="text-align: left">Platos</h3>

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom" th:each="plato : ${listaplatosbuscado}">
            <div class="blog_box">
              <div class="blog_img_box">
                <figure><img th:src="@{|/cliente/imagenplato/${plato.idplato}|}" width="70" height="70"/></figure>
              </div>
              <a href="#">
                <h3 th:text="${plato.getNombre()}">Chifa Imperial</h3></a>
              <p>
                  <span th:text="${plato.getDescripcion()}"> Descripcion
                  </span>
              </p>
              <p th:text="'S/.' + ${plato.precio}">precio</p>
              <a th:href="@{'/cliente/platoxpedir?idrestaurante=' + ${plato.getRestaurante().getIdrestaurante()} + '&idplato=' + ${plato.getIdplato()}}"><h4 style="text-align: right; margin-right: 10px">Seleccionar</h4></a>
              </br>
            </div>
            </br>
          </div>
        </div>

        </br>

        <!-- lista restaurantes buscado -->
        <div class="row" th:if="${listarestaurantesbuscado.size()!=0}">

          <h3 style="text-align: left">Restaurantes</h3>

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom" th:each="restaurante : ${listarestaurantesbuscado}">
            <div class="blog_box">
              <div class="blog_img_box">
                <figure><img th:src="@{|/cliente/imagerestaurante/${restaurante.idrestaurante}|}" width="70" height="70"/></figure>
              </div>
              <a th:href=" '/cliente/restaurantexordenar?idrestaurante=' + ${restaurante.idrestaurante}">
                <h3 th:text="${restaurante.nombre}">Chifa Imperial</h3></a>
              <p>
                  <span th:each="categoriarest : ${restaurante.categoriasrestList}"
                        th:text="${categoriarest.nombrecategoria} + ', '">
                  </span>
              </p>
            </div>
            </br>
          </div>
        </div>
      </br>

      </div>
    </div>
    <!-- end blog -->

  </div>
  <!-- footer -->
  <fooetr>
    <div class="footer">

      <div class="copyright">
        <div class="container">
          <p>© 2021 Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </fooetr>
  <!-- end footer -->
</div>
<div class="overlay"></div>
<!-- Javascript files-->
<div th:replace="fragments/cliente.html :: javascript"></div>


</body>

</html>