<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">


<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Spicyo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- owl css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">



    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" th:href="@{/js/manifest.json}">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link th:href="@{/css/form-validation.css}" rel="stylesheet">

    <script th:src="@{/js/vendor/jquery.creditCardValidator.js}"></script>

</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->

    <div class="wrapper">
        <!-- end loader -->
        <!-- Sidebar  -->
        <div th:replace="fragments/cliente.html:: slider" class="sidebar">
        </div>

    </div>

    <div id="content">
    <!-- header -->
    <header th:replace="fragments/cliente.html :: bar"></header>



<!-- blog -->
<!-- end blog -->
    <!-- footer -->
			<footer>
				<div class="footer">
					<div class="container-fluid">
						<div class="row">
						  <div class=" col-md-12">
							<h2 style="padding-left: 223px;">Pagar canasta</h2>
						  </div>
							<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
								<form class="main_form" method="post" th:action="@{/cliente/guardarcheckout}">
                                    <div th:if="${pago1 != null}" th:text="${pago1}" class="alert alert-warning" role="alert"></div>
                                    <div th:if="${pago2 != null}" th:text="${pago2}" class="alert alert-warning" role="alert"></div>
                                    <div th:if="${tarjetanovalida != null}" th:text="${tarjetanovalida}" class="alert alert-warning" role="alert"></div>
                                    <input type="hidden" th:value="${metodoelegido}" name="idmetodo" id="idmetodoelegido">
                                    <div class="row">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<div class="form-floating">
											  <select class="form-select" id="floatingSelectGrid2" aria-label="Floating label select example" onchange="window.location=this.options[this.selectedIndex].value">
                                                  <option selected="true" disabled="disabled">Método de pago</option>
                                                  <option
                                                          th:each = "metodo : ${listametodospago}"
                                                          th:text="${metodo.metodo}"
                                                          th:selected="${metodo.idmetodospago == metodoelegido}"
                                                          th:value=" 'checkout?idmetodo=' + ${metodo.idmetodospago}">Todos
                                                  </option>
											  </select>
											  <label for="floatingSelectGrid2">Seleccione su método de Pago</label>
											  <br/>
											</div>
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" th:if="${metodoelegido == 3}">
											<div class="form-floating">
											  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" name = "montoexacto">
												<option value="20">20 soles</option>
												<option value="50">50 soles</option>
                                                  <option value="50">60 soles</option>
                                                  <option value="70">70 soles</option>
                                                  <option value="100">100 soles</option>
                                                  <option value="120">120 soles</option>
                                                  <option value="150">150 soles</option>
                                              </select>
											  <label for="floatingSelectGrid">Ingrese el monto exacto</label>
											  <br/>
											</div>
										</div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" th:if="${metodoelegido == 1}">
                                            <div>
                                                <h6>Las tarjetas validas son Visa, MasterCard, DinersClub, Discover, JCB</h6>
                                            </div>
                                            <div class="form-floating">
                                                <input type="hidden" th:value="${metodoelegido}" name="tarjeta" id="tarjeta">
                                                <input pattern="\d*" maxlength="19" name="numerotarjeta" class="form-control" id="card-number" type="text" placeholder="Ingrese el número de su tarjeta"/>
                                                <label for="card-number">Ingrese el número de su tarjeta</label>
                                            </div>
                                        </div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <button class="send" type="submit" value="Submit">Hacer pedido</button>
										</div>
									</div>
								</form>
							</div>
                            <div  class="col-xl-4 col-lg-4 col-md-4 col-sm-12" >
                                <!-- detalles monto total -->
                                <div style="padding-right: 150px;">
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item d-flex justify-content-between lh-sm">
                                            <div>
                                                <h6 class="my-0">Costo total de productos <strike  th:if="${descuento != 0}" th:text="|S/${montototal.getpreciototal()}|"></strike></h6>
                                            </div>
                                            <span>
                                                <h4 th:if="${descuento != 0}" th:text="|S/${preciodescuento}|"></h4>
                                                <h4 th:if="${descuento == 0}" th:text="|S/${montototal.getpreciototal()}|"></h4>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-sm">
                                            <div>
                                                <h6 class="my-0">Costo de envío</h6>
                                            </div>
                                            <span class="text-muted" th:if="${pedidoencurso.getRestaurantepedido().getDistrito() == pedidoencurso.getDireccionentrega().getDistrito()}" th:text="|S/4.00|"></span>
                                            <span class="text-muted" th:if="${pedidoencurso.getRestaurantepedido().getDistrito() != pedidoencurso.getDireccionentrega().getDistrito()}" th:text="|S/6.00|"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-sm">
                                            <div>
                                                <h6 class="my-0">Tarifa de servicio</h6>
                                            </div>
                                            <span class="text-muted" th:if="${pedidoencurso.getRestaurantepedido().getDistrito() == pedidoencurso.getDireccionentrega().getDistrito()}" th:text="|S/1.00|"></span>
                                            <span class="text-muted" th:if="${pedidoencurso.getRestaurantepedido().getDistrito() != pedidoencurso.getDireccionentrega().getDistrito()}" th:text="|S/2.00|"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">Total</h6>
                                            </div>
                                            <span></span>
                                            <strong th:text="|S/ ${montopagar}|"></strong>
                                        </li>
                                    </ul>
                                </div>
                                <!-- detalles monto total -->
                            </div>

						</div>
						
		  </div>
		  <div class="footer">
					<div class="copyright" style="margin-top: -29px">
						<div class="container">
							<p>© 2021 Todos los derechos reservados</p>
						</div>
					</div>
          </div>
        </footer>
    <!-- end footer -->

    </div>
    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script th:src="@{/js/pruebacarrito.js}" ></script>

    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/popper.min.js}" ></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{/js/owl.carousel.min.js}" ></script>
    <script th:src="@{/js/custom.js}" ></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" ></script>

    <script th:src="@{/js/jquery-3.0.0.min.js}" ></script>
    <script type="text/javascript">
        $(document).ready(
            function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

            $("form").submit(function(event){

                var some_flag_variable = true;

                var metodo = $("#idmetodoelegido").val();

                if(metodo == 1){

                    var cardNumber = $("#card-number").val();
                    var message = "";

                    if (cardNumber == "") {
                        message += "<div>Campo obligatorio.</div>";
                        $("#card-number").css('background-color', '#FFFFDF');
                        some_flag_variable = false;
                    }

                    if (cardNumber != "") {
                        $('#card-number').validateCreditCard(function(result) {
                            if (!(result.valid)) {
                                message += "<div>Card Number is Invalid</div>";
                                $("#card-number").css('background-color', '#FFFFDF');
                                some_flag_variable = false;
                                event.preventDefault();
                            }else{
                                return this.some_flag_variable;
                            }
                        });
                    }

                    if (message != "") {
                        $("#error-message").show();
                        $("#error-message").html(message);
                    }
                }else{
                    return this.some_flag_variable;
                }

            });

        }


        );

    </script>


    <style>
        #owl-demo .item{
            margin: 3px;
        }
        #owl-demo .item img{
            display: block;
            width: 100%;
            height: auto;
        }
    </style>


    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>


</body>

</html>