<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/cliente.html :: header"></head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <!--div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>
    </div-->

    <div class="wrapper">
    <!-- end loader -->

    

    <div id="content">
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="#"><img th:src="@{/images/logo.png}" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


<div class="bg_bg">

<!-- end about -->


    <!-- footer -->
    <fooetr>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
					<div class="col-md-12">
						<h2>La contraseña ha sido modificada exitosamente</h2>

					</div>
					
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <a  class="button">Ingresar a mi cuenta</a>
                                </div>
           
                    </div>
                </div>
            
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 Todos los derechos reservados. Propiedad de "Troyanos de Software"</p>
                </div>
            </div>
        </div>
    </fooetr>
    <!-- end footer -->

    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
        <div th:replace="fragments/cliente.html :: javascript"></div>


</body>

</html>