<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/cliente.html :: header"></head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <!--div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>

    </div-->

<div class="wrapper">
    <!-- end loader -->



    <div id="content">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="full">
                            <a class="logo" href=""><img th:src="@{/images/logo.png}" alt="#" /></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="full">
                            <div class="right_header_info">
                                <ul>
                                    <li class="button_user"><a class="button active" th:href="@{'/cliente/nuevo'}">Crear una cuenta</a><a class="button" href="#">Soy partner</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="bg_bg">

            <!-- end about -->


            <!-- footer -->
            <fooetr>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Iniciar sesión</h2>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">



                                <form class="main_form" method="post" th:action="@{/processLoginCliente}">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <h4 th:if="${(param.error != null)}" >
                                                <i>Usuario y/o contraseña incorrecto </i>
                                            </h4>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <input class="form-control" placeholder="Correo" type="text" name="correo">
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <input class="form-control" placeholder="Contraseña" type="text" name="contraseña">
                                        </div>

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <a th:href="@{'/cliente/olvidecontrasenia'}">Olvidé mi contraseña</a>
                                        </div>
                                        </br>
                                        </br>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <button class="send" type="submit">Ingresar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box">
                                    <figure><img th:src="@{/images/img.jpg}" /></figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="copyright">
                        <div class="container">
                            <p>© 2021 Todos los derechos reservados.</p>
                        </div>
                    </div>
                </div>
            </fooetr>
            <!-- end footer -->

        </div>
    </div>
</div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script th:href="@{/js/jquery.min.js}"></script>
    <script th:href="@{/js/popper.min.js}"></script>
    <script th:href="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:href="@{/js/owl.carousel.min.js}"></script>
    <script th:href="@{/js/custom.js}"></script>
    <script th:href="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

    <script th:href="@{/js/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <style>
        #owl-demo .item{
            margin: 3px;
        }
        #owl-demo .item img{
            display: block;
            width: 100%;
            height: auto;
        }
    </style>


    <script>
        $(document).ready(function() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>

</body>

</html>