<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/cliente.html :: header"></head>
<!-- body -->

<body class="main-layout blog_page">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="" /></div>
</div>

<div class="wrapper">
    <!-- end loader -->

    <div class="sidebar" th:replace="fragments/cliente.html :: sidebar"></div>

    <div id="content">
        <!-- header -->
        <header th:replace="fragments/cliente.html :: bar"></header>
        <!-- end header -->
        <div class="yellow_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>Reportes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- blog -->
        <div class="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <div th:if="${alerta != null}" th:text="${alerta}" class="alert alert-warning" role="alert"></div>
                            <div th:if="${alerta2 != null}" th:text="${alerta2}" class="alert alert-warning" role="alert"></div>
                            <div class="row justify-content-center">
                                <div class="col-sm-2"><button class="btn btn-warning">Exportar a Excel</button></div>
                            </div>
                            <div class="row justify-content-center col-md-12">
                                <div class="center-block"><div class="col-sm-2"><form class="form-group mb-3" method="post" th:action="@{/cliente/recepcionCliente}">
                                    <div class="input-group-append">
                                        <input type="month" id="fechaprueba" name="fechahorapedido"
                                               th:value="${fechaseleccionada}">
                                        <!--th:selected="${generos.idgenero == juego.genero.idgenero}"></option-->
                                        <button class="btn btn-warning" type="submit">Buscar</button>
                                        <button class="btn btn-dark" th:href="@{/clientes/reportes}">Limpiar</button>
                                    </div>
                                </form></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                            <div class="blog_box">
                                <div class="blog_img_box">
                                    <figure><img th:src="@{/images/descarga.jpg}" alt="#"/>
                                        <span>Top 3 de Restaurantes</span>
                                    </figure>
                                </div>

                                <div class="container">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre Restaurante</th>
                                            <th>Veces que Asistió</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="top3Rest, in : ${listaTop3Restaurantes}">
                                            <td th:text="${in.index + 1}"></td>
                                            <td th:text="${top3Rest.getRestaurante()}"></td>
                                            <td th:text="${top3Rest.getVecesasistida()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                            <div class="blog_box">
                                <div class="blog_img_box">
                                    <figure><img th:src="@{/images/64bb5e41f11d3c3463f4bdc4c773d62d-plato-de-pollo-by-vexels.png}" alt="#"/>
                                        <span>Top 3 de platos más pedidos</span>
                                    </figure>
                                </div>

                                <div class="container">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre Plato</th>
                                            <th>Veces que Pidió</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="top3platos, in : ${listaTop3Platos}">
                                            <td th:text="${in.index + 1}"></td>
                                            <td th:text="${top3platos.getNombreplato()}"></td>
                                            <td th:text="${top3platos.getVecespedido()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="blog_box">
                                <div class="blog_img_box">
                                    <figure><img th:src="@{/images/2643809.png}" alt="#"/>
                                        <span>Historial de consumo por restaurante y total</span>
                                    </figure>
                                </div>

                                <div class="container">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre Restaurante</th>
                                            <th>Veces que Asistió</th>
                                            <th>Consumo mensual (en soles)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="historial, in : ${listaHistorialConsumo}">
                                            <td th:text="${in.index + 1}"></td>
                                            <td th:text="${historial.getNomrestaurante()}"></td>
                                            <td th:text="${historial.getAsistencia()}"></td>
                                            <td th:text="${historial.getConsumomensual()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                            <div class="blog_box">
                                <div class="blog_img_box">
                                    <figure><img th:src="@{/images/hucha_53876-25494.jpg}" alt="#"/>
                                        <span>Dinero ahorrado por los cupones</span>
                                    </figure>
                                </div>
                                <div class="container">
                                    <p th:text="|Se ha ahorrado ${diferencia.getDiferencia()} soles|"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                            <div class="blog_box">
                                <div class="blog_img_box">
                                    <figure><img th:src="@{/images/9a6b5f8bf55c5848572197757ec5f7c1-icono-de-flechas-de-tiempo-trazo-de-reloj-by-vexels.png}" alt="#"/>
                                        <span>Tiempo medio por delivery</span>
                                    </figure>
                                </div>

                                <div class="container">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre Restaurante</th>
                                            <th>Tiempo promedio (en minutos)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="tiempoProm, in : ${listaPromedioTiempo}">
                                            <td th:text="${in.index + 1}"></td>
                                            <td th:text="${tiempoProm.getNombrerestaurante()}"></td>
                                            <td th:text="${tiempoProm.getTiempopromedio()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end blog -->


            <!-- footer -->
            <fooetr>
                <div class="footer">

                    <div class="copyright">
                        <div class="container">
                            <p>© 2021 Todos los derechos reservados</p>
                        </div>
                    </div>
                </div>
            </fooetr>
            <!-- end footer -->

        </div>
    </div>
</div>
    <div class="overlay"></div>
    <!-- Javascript files-->
<script>
    window.onload = function(){
        var fecha = new Date(); //Fecha actual
        var mes = fecha.getMonth()+1; //obteniendo mes
        var dia = fecha.getDate(); //obteniendo dia
        var ano = fecha.getFullYear(); //obteniendo año
        if(dia<10)
            dia='0'+dia; //agrega cero si el menor de 10
        if(mes<10)
            mes='0'+mes //agrega cero si el menor de 10
        document.getElementById('fecha').value=ano+"-"+mes;
    }
</script>
<script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/popper.min.js}" ></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{/js/owl.carousel.min.js}" ></script>
    <script th:src="@{/js/custom.js}" ></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" ></script>

    <script th:src="@{/js/jquery-3.0.0.min.js}" ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });

    </script>
</body>

</html>