<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/cliente.html :: header"></head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <!--div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>
    </div-->

    <div class="wrapper">
        <!-- end loader -->

        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a th:href="@{cliente/paginaprincipal}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{cliente/realizarpedido}">Realizar pedido</a>
                    </li>
                    <li>
                        <a th:href="@{/cliente/reportes}">Mis reportes</a>
                    </li>

                </ul>

            </nav>
        </div>
    </div>


    <div id="content">
    <!-- header -->
    <header th:replace="fragments/cliente.html :: bar"></header>


  <div class="yellow_bg">
   <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2 th:text="${restaurantexordenar.nombre}">McDonald's</h2>
                    
                  </div>
               </div>
            </div>
          </div>
</div>

<!-- blog -->
<div class="blog" style="padding-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <i><img th:src="@{/images/title.png}" alt="#"/></i>
          
          <p>
              <span th:each="categoriarest : ${restaurantexordenar.categoriasrestList}"
                    th:text="${categoriarest.nombrecategoria} + ', '">
              </span>
              <span  th:text="${restaurantexordenar.calificacionpromedio} + '★ - ' + ${cantreviews} + ' revisiones'"></span>
		  </p>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom" th:each="plato : ${platosxrest}">
              <div class="blog_box">
                  <div class="blog_img_box">
                      <figure><img th:src="@{|/cliente/imagenplato/${plato.idplato}|}" width="70" height="70"/></figure>
                  </div>
                  <h3 th:text="${plato.nombre}">Combowok de la Suerte</h3>
                  <p th:text="${plato.descripcion}">Encájate Chi Jau Kay, 2 wantanes, gaseosa personal y salsa tamarindo.
                  </p>
                  <p th:text="'S/.' + ${plato.precio}">precio</p>
                  <a th:href="@{'/cliente/platoxpedir?idrestaurante=' + ${restaurantexordenar.idrestaurante} + '&idplato=' + ${plato.idplato} + '&direccion=' + ${direccionxenviar}}"><h4 style="text-align: right; margin-right: 10px">Agregar</h4></a>
                  </br>
              </div>
              </br>
          </div>

      </br>

  </div>
</div>
<!-- end blog -->

</div>
    <!-- footer -->
    <fooetr>
        <div class="footer">
            
            <div class="copyright">
                <div class="container">
                    <p>© 2021 Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </fooetr>
    <!-- end footer -->

    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <div th:replace="fragments/cliente.html :: javascript"></div>


</body>

</html>