<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/cliente.html :: header"></head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>
    </div>

	<div class="wrapper">
		<!-- end loader -->

		<div class="sidebar">
			<!-- Sidebar  -->
			<nav id="sidebar">

				<div id="dismiss">
					<i class="fa fa-arrow-left"></i>
				</div>

				<ul class="list-unstyled components">

					<li class="active">
						<a th:href="@{cliente/paginaprincipal}">Home</a>
					</li>
					<li>
						<a th:href="@{cliente/realizarpedido}">Realizar pedido</a>
					</li>
					<li>
						<a th:href="@{/cliente/reportes}">Mis reportes</a>
					</li>

				</ul>

			</nav>
		</div>
	</div>

    <div id="content">
    <!-- header -->
    <header th:replace="fragments/cliente.html :: bar"></header>



<!-- blog -->
<!-- end blog -->
    <!-- footer -->
			<fooetr>
				<div class="footer">
					<div class="container-fluid">
						<div class="row">
						  <div class=" col-md-12">
							<h2 style="padding-left: 223px;">Tu pedido pendiente</h2>
						  </div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h5 style="padding-left: 223px;">Estado restaurante <strong class="white" th:text="${pedido.estadorestaurante}">Confirmado</strong></h5>
                                    <h5 style="padding-left: 223px;">Estado repartidor  <strong class="white" th:text="${pedido.estadorepartidor}">Confirmado</strong></h5>
									<!--h5 style="padding-left: 223px;">Aceptado por el restaurante:  <strong class="white"></strong></h5>
									<h5 style="padding-left: 223px;">Preparación finalizada: <strong class="white">Confirmado</strong></h5>
									<h5 style="padding-left: 223px;">Pedido en camino:  <strong class="white">Confirmado</strong></h5>
									<h5 style="padding-left: 223px;">Pedido entregado:  <strong class="white">Pendiente</strong></h5-->
								
								</div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<h2 style="padding-left: 223px;">Detalles de tu pedido</h2>
									<!--h5 style="padding-left: 223px;" th:text="|Costo de productos: ${pedido.montototal}|">Costo de productos: S/25.00</h5-->
									<!--h5 style="padding-left: 223px;">Descuento: S/5.00</h5-->
									<h5 style="padding-left: 223px;" th:text="|Costo de envío: S/ ${pedido.comisionrepartidor}|">Costo envio: S/.6.00</h5>
									<h5 style="padding-left: 223px;" th:text="|Total a pagar: S/ ${pedido.montototal}|">Total a pagar: S/26.00</h5>
									<h5 style="padding-left: 223px;" th:each="plato : ${lista}"
                                                    th:text="${plato.getPlato().getNombre()}">1 Combowok de la Suerte</h5>

								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								<div class="img-box">
									<figure><img th:src="@{/images/img.jpg}" alt="img" style="width: 350; height: 350px"/></figure>
								</div>
							</div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" th:if="${pedido.estadorepartidor.equalsIgnoreCase('entregado')}">
                                <div class="row" style="padding-left:240px;">
                                <a th:href="@{'/cliente/calificarpedido'}" style="width: 275px;"><button class="send">Calificar Pedido</button></a>
                                </div>
                            </div>
						</div>
                        </br>
						<div>
							<h3 style="padding-left: 223px;"><strong class="white">En caso hayas escogido tu método de pago como tarjeta online, se te cobrará el monto total cuando se marque como entregado el pedido</strong></h3>
						</div>
						
		  </div>
		  <div class="footer">
					
					<div class="copyright" style="margin-top: -29px">
						<div class="container">
							<p>© 2021 Todos los derechos reservados</p>
						</div>
					</div>
				</div>
			</fooetr>
    <!-- end footer -->

    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->

    <script th:src="@{/js/pruebacarrito.js}" ></script>

    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/popper.min.js}" ></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{/js/owl.carousel.min.js}" ></script>
    <script th:src="@{/js/custom.js}" ></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" ></script>

    <script th:src="@{/js/jquery-3.0.0.min.js}" ></script>
   <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    </style>

     
      <script>
         $(document).ready(function() {
           var owl = $('.owl-carousel');
           owl.owlCarousel({
             margin: 10,
             nav: true,
             loop: true,
             responsive: {
               0: {
                 items: 1
               },
               600: {
                 items: 2
               },
               1000: {
                 items: 5
               }
             }
           })
         })
      </script>

</body>

</html>