<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- bhead -->
    <head th:insert="fragments/fragment.html :: header( title = 'Spicy')"></head>
    <!-- body -->

    <body class="main-layout about_page">
        <!-- loader  -->
        <!--div class="loader_bg">
            <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>

        </div-->

        <div class="wrapper">
            <!-- end loader -->
            <div class="sidebar">
                <!-- Sidebar  -->
                <nav id="sidebar">

                    <div id="dismiss">
                        <i class="fa fa-arrow-left"></i>
                    </div>

                    <ul class="list-unstyled components">

                        <li>
                            <a th:href="@{'/repartidor'}">Home</a>
                        </li>
                        <li>
                            <a th:href="@{'/repartidor/Reportes'}">Reportes</a>
                        </li>
                        <li>
                            <a th:href="@{'/repartidor/PedidosDisponibles'}">Notificaciones</a>
                        </li>

                    </ul>

                </nav>
            </div>


            <div id="content">

                <!-- header -->
                <header>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="full">
                                    <a class="logo" href=""><img th:src="@{/images/logo.png}" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="full">
                                    <div class="right_header_info">
                                        <ul>
                                            <li class="dinone"><a th:href="@{'/repartidor'}">Home</a></li>
                                            <li class="dinone"><a th:href="@{'/repartidor/Reportes'}">Reportes</a></li>
                                            <li class="dinone"><a th:href="@{'/repartidor/PedidosDisponibles'}">Notificaciones</a></li>

                                            <!-- TODO -->
                                            <li class="button_user"><a class="button active" th:href="@{'/repartidor/perfil'}">Mi cuenta</a>
                                                <form th:action="@{/logout}" method="post">
                                                    <button class="button " type="submit">Logout</button>
                                                </form></li>
                                            <li>
                                                <button type="button" id="sidebarCollapse">
                                                    <img th:src="@{/images/menu_icon.png}" alt="#">
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- end header -->

                <div class="yellow_bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">
                                    <h2>Mi Perfil</h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about -->
                <div class="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 about_img_boxpdnt">
                                        <figure><img th:src="@{/images/perfil-hombre-dibujos-animados_18591-58484 (1).jpg}" alt="#/"></figure>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <form method="post" th:action="@{'/repartidor/save_perfil'}" th:object="${usuario}">
                                            <div class="about_box" style="padding: 64px 40px">
                                                <div>
                                                    <input th:field="*{idusuarios}" type="hidden">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Correo</label>
                                                        <input class="form-control" type="text" th:field="*{email}" disabled>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Nombres</label>
                                                        <input class="form-control"type="text" th:field="*{nombre}" disabled>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Apellidos</label>
                                                        <input class="form-control"type="text" th:field="*{apellidos}" disabled>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>DNI</label>
                                                        <input class="form-control" type="text" th:field="*{dni}" disabled>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Número de celular</label>
                                                        <input class="form-control" type="text" th:field="*{telefono}">
                                                        <div class="text-white" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Fecha de nacimiento</label>
                                                        <input class="form-control" type="date" th:field="*{fechaNacimiento}" disabled>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Dirección </label>
                                                        <input class="form-control" type="text" th:value="${direcciones.direccion}"
                                                        name="direccion">
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Contraseña</label>
                                                        <input placeholder="Passsword" class="form-control" type="password" th:value="*{contraseniaHash}"
                                                               name="contraseniaHash">
                                                        <div class="text-danger" th:if="${#fields.hasErrors('contraseniaHash')}" th:errors="*{contraseniaHash}"></div>
                                                        <div th:if="${msg != null}" th:text="${msg}" class="text-danger"></div>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label>Confirmar contraseña</label>
                                                        <input placeholder="Passsword" class="form-control" type="password" name="password2">
                                                        <div class="text-danger" th:if="${#fields.hasErrors('contraseniaHash')}" th:errors="*{contraseniaHash}"></div>
                                                    </div>
                                                    <button class="send button" type="submit"
                                                            style="padding : 9px 0px; font-size: 16px">Guardar cambios</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end about -->


                <!-- footer -->
                <fooetr>
                    <div class="footer">

                        <div class="copyright">
                            <div class="container">
                                <p>© 2021 Todos los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                </fooetr>
                <!-- end footer -->

            </div>
        </div>
        <div class="overlay"></div>
        <!-- Javascript files-->
        <script th:href="@{/js/jquery.min.js}"></script>
        <script th:href="@{/js/popper.min.js}"></script>
        <script th:href="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:href="@{/js/owl.carousel.min.js}"></script>
        <script th:href="@{/js/custom.js}"></script>
        <script th:href="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

        <script th:href="@{/js/jquery-3.0.0.min.js}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function() {
                    $('#sidebar').removeClass('active');
                    $('.overlay').removeClass('active');
                });

                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').addClass('active');
                    $('.overlay').addClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>

    </body>

</html>