<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Todo esto se repite -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Spicyo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- owl css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/styleAdminView.css}" />
    <!-- responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!--Fin repeticion-->
    <style>
        .form-control {
            border: #fff solid 2px;
            border-radius: inherit;
            margin-bottom: 0px;
            padding: 15px 20px;
            font-family: poppins;
        }
    </style>
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="" /></div>
    </div>
    <div class="wrapper">
    <!-- end loader -->
     <div th:replace="fragments/adminSistema.html:: slider" class="sidebar">
            <!-- Sidebar  -->
        </div>
    <div id="content">
    <!-- header -->
    <header>
        <div th:replace="fragments/adminSistema.html:: barra" class="container-fluid">
        </div>
    </header>
    <!-- end header -->
    </div>
    </div>


    <!-- blog -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Solicitud de Nuevas Cuentas</h1>
                </div>
                <div class="col-md-5">
                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-dark" role="alert"></div>
                </div>
            </div>
            <hr>
            <div class="col-md-12">
                <form class="input-group" method="post" th:action="@{buscadorNuevos}"><!-- COMPLETAR -->
                    <input name="rolSelected" th:value="${rolSelected}" type="hidden">
                    <div class="form-floating">
                        <!-- search bar -->
                        <select class="form-select" id="rolSelected" aria-label="Floating label select example" onChange="window.location=this.options[this.selectedIndex].value" >
                            <!--option th:selected="${rolSelected}" disabled="disabled" th:text="${nombreRol}">Filtrar por Rol</option-->
                            <option th:selected="(${rolSelected} == 'Todos')" value="nuevosUsuarios?rolSelected=Todos">Todos</option>
                            <option th:selected="(${rolSelected} == 'Repartidor')" value="nuevosUsuarios?rolSelected=Repartidor">Repartidores</option>
                            <option th:selected="(${rolSelected} == 'AdminRestaurante')" value="nuevosUsuarios?rolSelected=AdminRestaurante">Restaurantes</option>
                        </select>
                        <label for="rolSelected">Rol</label>
                    </div>
                    <div class="col-md-8" style="margin-bottom: 0px;">
                        <div class="form-floating" style=" border-style: groove;margin-bottom: 0px">
                            <input name="searchField" class="form-control" id="floatingInputGrid" type="text" placeholder="Buscar por nombre, apellidos o DNI"/>
                            <label for="floatingInputGrid">Buscar por nombre, apellido o DNI</label>
                        </div>
                    </div>
                    <button class="btn btn-dark" type="submit" >Buscar</button>
                    <button class="btn btn-warning"><a class="button active" th:href="@{/admin/nuevosUsuarios(rolSelected='Todos',searchField='')}">Limpiar</a></button>

                </form>
            </div>
            <br>
            <div class="row table-users">
                <!-- table -->
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Email</th>
                                <th scope="col">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usuario,info : ${listaUsuariosNuevos}">
                                <th th:text="${info.index + 1}"></th>
                                <th>
                                    <a th:href="@{'/admin/newuser'+'?id='+${usuario.idusuarios}}">
                                        <div th:text="${usuario.nombre + ' ' + usuario.apellidos }">
                                        </div>
                                    </a>
                                </th>
                                <td th:text="${usuario.dni}"></td>
                                <td th:text="${usuario.email}"></td>
                                <td th:text="${usuario.rol}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end of table -->
                <!--h1 th:if="${maxNumberOfPages} != 0" th:text="${maxNumberOfPages}"></h1-->
                <!-- paginacion -->
                <div th:if="${maxNumberOfPages} != 0" class="row">
                    <nav aria-label="Page navigation example" class = "mx-auto">
                        <ul class="pagination justify-content-center">

                            <!--  BOTON ANTERIOR -->
                            <li class="page-item disabled" th:if="${currentPage eq 1 }">
                                <span class="page-link">Anterior</span>
                            </li>
                            <li class="page-item" th:unless="${currentPage eq 1}">
                                <a class="page-link"
                                   th:href="@{/admin/nuevasUsuarios(page=${currentPage - 1},searchField=${searchField} )}">Anterior</a>
                            </li>

                            <!-- BOTONES NUMEROS -->
                            <li th:each="i : ${#numbers.sequence( 1, maxNumberOfPages )}"
                                th:class="${ i == currentPage ? 'page-item active .bg-secondary' : 'page-item' }">
                                <a class="page-link"  th:href="@{/admin/nuevosUsuarios(page=${i},searchField=${searchField})}"
                                   th:text="${i}"
                                ></a>
                            </li>

                            <!--  BOTON SIGUIENTE -->
                            <li class="page-item disabled" th:if="${currentPage eq maxNumberOfPages }">
                                <span class="page-link">Siguiente</span>
                            </li>
                            <li class="page-item" th:unless="${currentPage eq maxNumberOfPages}">
                                <a class="page-link" th:href="@{/admin/nuevosUsuarios(page=${currentPage + 1},searchField=${searchField})}">Siguiente</a>
                            </li>

                        </ul>
                    </nav>
                </div>

                <!--div class="col-md-12">
                    <p>Anterior | 1 | 2 | 3 | Siguiente</p>
                </div-->

            </div>
        </div>
    </div>
    </div>
    <!-- end blog -->

    <!-- footer -->
    <fooetr>
        <div class="footer">

            <div class="copyright">
                <div class="container">
                    <p>© 2021 Todos los derechos reservados</p>
                </div>
            </div>
        </div>
    </fooetr>
    <!-- end footer -->

    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/js/popper.min.js}" ></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{/js/owl.carousel.min.js}" ></script>
    <script th:src="@{/js/custom.js}" ></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" ></script>
    
    <script src="js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function() {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <style>
    #owl-demo .item{
        margin: 3px;
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    </style>

     
    <script>
         $(document).ready(function() {
           var owl = $('.owl-carousel');
           owl.owlCarousel({
             margin: 10,
             nav: true,
             loop: true,
             responsive: {
               0: {
                 items: 1
               },
               600: {
                 items: 2
               },
               1000: {
                 items: 5
               }
             }
           })
         })
      </script>

</body>

</html>